Type conversion / Type casting -> The process of changing the data type of a value or an object.

In [2]:
a = '5'
type(a)

str

In [5]:
b = int(a)
type(b)

int

Type casting is of two types -> (i) Explicit and (ii) Implicit.

In [8]:
#Implicit -> Python understand the type of data type by itself and convert accordingly
a = 5
print(type(a))
b = a + 5.5
print(b)
print(type(b))

<class 'int'>
10.5
<class 'float'>

In [9]:
#Explicit -> Convert data type using inbuild functions.
string
int
float
bool

'\nstring\nint\nfloat\nbool\n'

In [1]:
a = 22.5
a

22.5

In [3]:
b = int(a)
b

22

In [7]:
a = '33'
print(type(a))
print(a)

<class 'str'>
33

In [8]:
b = float(a)
print(type(b))
print(b)

<class 'float'>
33.0

In [9]:
bool(0)

False

In [10]:
bool(1)

True

In [11]:
a = 'Ram'
int(a)
#Character can't be converted into number.

ValueError: invalid literal for int() with base 10: 'Ram'